.title{
    font-family: 'Abril Fatface', cursive;
}
.title2{
    font-family: 'Anton', sans-serif;
    }
    .title3{
        font-family: 'Exo 2', sans-serif;
        }
        .title4{
            font-family: 'Roboto', sans-serif;
            }
            .title5{
                font-family: 'Staatliches', cursive;
                }